<div class="body">
    <div class="home">
        <p>
            Hola, soy un fotógrafo apasionado del buceo. bajo el agua.
        </p>
        <p>
            Bienvenido a mi portafolio de fotos. Me gusta observar la vida
            salvaje naturaleza y ecosistemas submarinos.
        </p>
        <p>
            Hoy no puedo bucear sin mi cámara, y yo Estoy encantado de
            presentarte mi trabajo.
        </p>
        <p>
            Buena visita, no lo dudes
            <a href="mailto:contact@olifish.com" class="contact"
                >en contactarme</a
            >
            para intercambiar.
        </p>
        <p>Olivier Colli</p>
        <p>contact@olifish.com</p>
    </div>
    <section class="gallery">
        <h2>Mis galerias :</h2>
        {galleries}
    </section>
</div>
